

<div id="login-box" class=" h-100 d-flex justify-content-center align-items-center">

	<%= form_for(:session, url: sign_in_path) do |f| %>
			<h4 class="container text-center">Login</h4> <br>
			<div id="login-field" class="form-group">
				<span><%= f.label :"Username:" %></span>
				
				<%= f.text_field :username %><br>
			</div>

			<div id="login-field" class="form-group">
				
				<span><%= f.label :"Password:" %></span>
				<%= f.password_field :password %><br>
			</div>

			<button id="login-submit" class="container text-center btn btn-default">
				<span visibility: hidden><%= f.submit "Sign in"%></span>
				<span class="button__text" class="container text-center">Sign In</span>
			</button>	

	<% end %>

</div>

