<p id="notice"><%= notice %></p>

<div id="index">
  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>

  <p>
    <% if @product.image.attached? %>
      <%= image_tag @product.image.variant(
        format: :png,
        resize_and_pad: [200, 200, gravity: 'north', background: :transparent]
      ) %>
    <% end %>
  </p>

    <strong>Price:</strong>
    <%= "$" + @product.price.to_s %>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
